.cards {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  position: absolute;
  width: 70vw;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #fff;
  font-size: 18px;
  padding: 11px;
  text-align: center;
}

.wrapper_card {
  display: flex;
}

.cards_btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #344dda;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 17px;
  line-height: 1;
  margin: 20px;
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.third {
  color: #fff;
  box-shadow: 0 0 40px 40px #344dda inset, 0 0 0 0 #344dda;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #344dda inset, 0 0 10px 4px #344dda;
}

@media screen and (max-width: 1050px) {
  .cards {
    width: 80vw;
  }
}

@media screen and (max-width: 780px) {
  .wrapper_card {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    width: 90vw;
  }
  .cards_btn {
    margin: 7px;
  }
}
